@media (max-width: 600px) {

    .l-header__filter-icon {
        display: inline-block;
    }

    .l-header__filter-options {
        width: 23rem;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 2rem;
        gap: .5rem;
        background-color: var(--secondary);
        text-align: center;
        padding: 1.5rem;
        border-radius: 1rem 0rem 1rem 1rem;
        z-index: 200;
        display: none;
        transform-origin: top right;
        animation-duration: 1s;
    }
    
    .l-header__filter-options.is-active {
        display: flex;
    }
    
    .l-header__filter-options.is-opened {
        animation-name: opentop;
        animation-direction: normal;
    }
    
    .l-header__filter-options.is-closed {
        animation-name: closetop;
        animation-fill-mode: forwards;
    }

    .l-header__filter-item {
        font-size: 1.8rem;
        color: var(--background);
    }

    .l-header__filter-item.is-active {
        color: var(--highlight);
    }

}

@media (max-width: 450px) {

    .c-add-task {
        display: none;
    }

    .c-task {
        margin-top: 11rem;
    }

}