@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

@keyframes opentop {
    from {transform: rotateX(90deg);}
    to {transform: rotateX(0deg);}
}

@keyframes closetop {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(90deg);}
}

@keyframes showopacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes showtranslate {
    0% {transform: translateY(-100vh);}
    50% {transform: translateY(5vh);}
    75% {transform: translateY(-5vh);}
    100% {transform: translateY(0);}
}

@keyframes hidetranslate {
    from {transform: translateY(0);}
    to {transform: translateY(-100vh);}
}

:root {
    --primary: #984cf5;
    --secondary: #aa77e6;
    --highlight: #33f569;
    --background: #ffffff;
    --task-background: #fbfbfb;
    --input-background: #f3f3f3;

    --primary-text: #6d6d6d;
    --secondary-text: #cccccc;

    --task-shadow: 2px 2px 5px rgb(152, 76, 245, .2);

    font-size: 10px;
}

.u-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 3rem;
}

body.is-blocked {
    overflow: hidden;
}


/* HEADER */
.l-header {
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    z-index: 100;
    background-color: var(--background);
}

.l-header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.l-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.l-header__logo-icon {
    width: 3rem;
}

.l-header__logo-title {
    text-transform: uppercase;
    font-weight: none;
    color: var(--primary-text);
}

.l-header__filter {
    display: flex;
    position: relative;
}

.l-header__filter-options {
    display: flex;
    gap: 1.5rem;
}

.l-header__filter-item {
    font-size: 1.2rem;
    color: var(--secondary-text);
    cursor: pointer;
}

.l-header__filter-item.is-active {
    color: var(--secondary);
}

.l-header__filter-icon {
    display: none;
    /* display: inline-block; */
    width: 1.6rem;
    height: 1.2rem;
    background-position: center;
    background-size: cover;
    background-image: url(../img/filter.svg);
    transition: all ease-in .3s;
    cursor: pointer;
}

.l-header__filter-icon:hover {
    background-image: url(../img/filter-active.svg);
}

.c-add-task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-add-task__input {
    width: 90%;
    height: 5rem;
    border: none;
    outline: none;
    border-radius: .5rem 0 0 .5rem;
    background-color: var(--input-background);
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--primary-text);
}

.c-add-task__input::placeholder {
    color: var(--secondary-text);
}

.c-add-task__button {
    width: 10%;
    height: 5rem;
    border: none;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--secondary);
    cursor: pointer;
    transition: all ease-in .3s;
}

.c-add-task__button:hover {
    background-color: var(--primary);
}

.c-add-task__button-icon {
    width: 2.5rem;
    transform: translateY(.15rem);
    transition: all ease .2s;
}

.c-add-task__button:hover > .c-add-task__button-icon {
    transform: translateY(.15rem) scale(.85);
}

/* TASKS */
.c-task {
    margin-top: 17rem;
}

.c-task__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.c-task__item {
    width: 100%;
    min-height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border-radius: .5rem;
    background-color: var(--task-background);
    box-shadow: var(--task-shadow);
}

.c-task__check {
    width: 1.5rem;
    height: 1.5rem;
    border: .15rem solid var(--primary-text);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    cursor: pointer;
    transition: all ease .3s;
}

.c-task__check:hover,
.c-task__check.is-finished:hover {
    border-color: var(--secondary);
}

.c-task__check.is-finished {
    border-color: var(--highlight);
}

.c-task__check-icon {
    display: none;
    width: 1.1rem;
}

.c-task__check-icon.is-finished {
    display: block;
}

.c-task__message-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.c-task__message {
    min-width: 100%;
    height: 100%;
    color: var(--primary);
    font-size: 1.9rem;
}

.c-task__message.is-finished {
    color: var(--secondary-text);
    text-decoration: line-through;
}

.c-task__close-button {
    display: inline-block;
    width: 1.8rem;
    height:1.8rem;
    background-image: url(../img/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    transition: all ease .35s;
    cursor: pointer;
}

.c-task__close-button:hover {
    background-image: url(../img/close-active.svg);
    transform: rotate(180deg);
}


/* ADD TASK BUTTON */
.c-add-task-button {
    width: 5rem;
    height: 5rem;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border: none;
    border-radius: 50%;
    background-color: var(--secondary);
    z-index: 200;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.c-add-task-button:hover {
    background-color: var(--primary);
    transform: rotate(90deg);
}

.c-add-task-button__icon {
    width: 2.5rem;
}


/* ADD TASK MODAL */
.c-add-task-modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 300;
    padding: 1.5rem;
}

.c-add-task-modal.show {
    animation-name: showopacity;
    animation-duration: .5s;
}

.c-add-task-modal.hide {
    animation-name: showopacity;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.c-add-task-modal__container {
    width: 100%;
    max-width: 50rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--task-background);
    border: 1px solid rgba(170, 119, 230, .35);
    box-shadow: var(--task-shadow);
}

.c-add-task-modal__container.show {
    animation-name: showtranslate;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.c-add-task-modal__container.hide {
    animation-name: hidetranslate;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.c-add-task-modal__title {
    color: var(--primary);
    font-weight: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.c-add-task-modal__text-area {
    width: 100%;
    margin-bottom: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--primary-text);
}

.c-add-task-modal__text-area::placeholder {
    color: var(--secondary-text);
}

.c-add-task-modal__button {
    width: 9.5rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--input-background);
    color: var(--primary-text);
    cursor: pointer;
    transition: all ease .3s;
}

.c-add-task-modal__button:hover {
    transform: scale(.98)
}

.c-add-task-modal__button + .c-add-task-modal__button {
    margin-left: 2rem;
}

.c-add-task-modal__button.c-add-task-modal__button--primary {
    background-color: var(--secondary);
    color: var(--background);
}

.c-add-task-modal__button.c-add-task-modal__button--primary:hover {
    background-color: var(--primary);
}